<div class="row">
    <div class="col-md-3 col-lg-3">
    <br>
    </div>
<div class="col-md-6 col-lg-6">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>
  
    <div class="form-row mb-4">
        <div class="col">
            <input type="text" formControlName="FirstName" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" formControlName="LastName" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="form-group">
    <input type="email" formControlName="Email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    <small class="form-text text-muted error" 
    *ngIf="userForm.controls.Email.touched && userForm.controls.Email.errors?.required">
      Please enter email address.!
  </small>
  <small class="form-text text-muted error"
  *ngIf="userForm.controls.Email.touched && userForm.controls.Email.errors?.email">
    Email address not well formed.!
  </small>
  </div>
  <div class="form-group">
    <input type="number" formControlName="Mobile" id="defaultRegisterFormMobile" max="10" class="form-control mb-4" placeholder="Mobile Number">
    <small class="form-text text-muted error" 
    *ngIf="userForm.controls.Mobile.touched && userForm.controls.Mobile.errors?.required">
      Please enter mobile number.!
  </small>
  <small class="form-text text-muted error"
  *ngIf="userForm.controls.Email.touched && userForm.controls.Mobile.errors?.pattern">
    Mobile Number is not well formed.!
  </small>
 </div>
    <div class="form-row mb-4">
        <div class="col">
            <input type="password" formControlName="Password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password">
        </div>
        <div class="col">
            <input type="password" formControlName="ConfirmPassword" id="defaultRegisterFormConfirmPassword" class="form-control" placeholder="Confirm Password">
        </div>
    </div>
  
    
  
    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
  
    <hr>
  
</form>
</div>
<div class="col-md-3 col-lg-3"></div>