<h4 class="text-center">Login</h4>
<div class="row">
<div class="col-md-3 col-lg-3">
<br>
</div>
<div class="col-md-6 col-lg-6">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="Email" placeholder="Enter email">
      <small class="form-text text-muted error" 
        *ngIf="loginForm.controls.Email.touched && loginForm.controls.Email.errors?.required">
          Please enter email address.!
      </small>

      <small class="form-text text-muted error"
      *ngIf="loginForm.controls.Email.touched && loginForm.controls.Email.errors?.email">
        Email address not well formed.!
      </small>
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="Password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="login()">Submit</button>
  </form>
  <div class="text-right">
    <button type="submit" class="btn btn-primary"  (click)="signUp()">Sign-Up</button>
</div>
</div>
<div class="col-md-3 col-lg-3"></div>
</div>